<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>造孽呀</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../static/js/jquery-1.11.0.min.js"> -->
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<style>

</style>

<body style="background-color: rgb(171, 235, 213);">
    这是主页
    <button class="btn" id="btn1">
        点击登录
    </button>
    <script>
        $("#btn1").click(function () {
            alert("请先注册")
        })
    </script>
</body>

</html>